#myGallery

{
height: 260px;
display: none;
border: 1px solid #000;
}

.jdGallery

{
overflow: hidden;
position: relative;
}

.jdGallery img

{
border: 0;
margin: 0;
}

.jdGallery .slideElement

{
width: 100%;
height: 100%;
background-color: #000;
background-repeat: no-repeat;
}

.jdGallery .loadingElement

{
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background-color: #000;
background-repeat: no-repeat;
background-position: center center;
background-image: url('loading-bar-black.gif');
}

.jdGallery .slideInfoZone

{
position: absolute;
z-index: 10;
width: 100%;
margin: 0px;
left: 0;
top: 220px;
height: 50px;
background: #000;
color: #fff;
text-indent: 0;
overflow: hidden;
}

* html .jdGallery .slideInfoZone

{
bottom: -1px;
}

.jdGallery .slideInfoZone h2

{
padding: 0;
font-size: 0px/*13px*/;
margin: 0;
margin: /*2px 5px*/0px 0px;
color: /*inherit*/black;
}

.jdGallery .slideInfoZone p /* Descriptive text for image */

{
padding: 0;
font-size: 12px;
margin: 2px 5px;
color: #eee;
line-height: 1.25;
}

.jdGallery div.carouselContainer

{
position: absolute;
height: 120px;
width: 100%;
z-index: 10;
margin: 0px;
left: 0;
top: 0;
}

.jdGallery a.carouselBtn /* Thumbnail Button Text */

{
position: absolute;
bottom: 0;
right: 30px;
height: 20px;
text-align: center;
padding: 0 10px;
font-size: 14px;
background: #000;
color: #fff;
cursor: pointer;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

.jdGallery .carousel

{
position: absolute;
width: 100%;
margin: 0px;
left: 0;
top: 0;
height: 100px;
background: #333;
color: #fff;
text-indent: 0;
overflow: hidden;
}

.jdGallery .carousel .carouselWrapper

{
position: absolute;
width: 100%;
height: 78px;
top: 10px;
left: 0;
overflow: hidden;
}

.jdGallery .carousel .carouselInner

{
position: relative;
}

.jdGallery .carousel .carouselInner .thumbnail

{
cursor: pointer;
background: #000;
background-position: center center;
float: left;
border: solid 1px #fff;
}

.jdGallery .carousel .label /*Slide numbers */

{
font-size: 13px;
position: absolute;
bottom: 5px;
left: 10px;
padding: 0;
margin: 0;
}

.jdGallery .carousel .label .number

{
color: #b5b5b5;
}

.jdGallery a

{
font-size: 100%;
text-decoration: none;
color: inherit;
}

.jdGallery a.right, .jdGallery a.left /* Arrow Opacity */

{
/*position: absolute;
height: 99%;
width: 25%;
cursor: pointer;
z-index:10;
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;*/
}

* html .jdGallery a.right, * html .jdGallery a.left

{
filter:alpha(opacity=50);
}

.jdGallery a.right:hover, .jdGallery a.left:hover /* Arrow Opacity */

{
/*filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;*/
}

.jdGallery a.left

{
/*left: 0px;
top: 75px;
background: url('fleche1.png') no-repeat center left;*/
}

* html .jdGallery a.left

{
/*background: url('fleche1.gif') no-repeat center left;*/
}

.jdGallery a.right

{
/*right: 0px;
top: 75px;
background: url('fleche2.png') no-repeat center right;*/
}

* html .jdGallery a.right

{
/*background: url('fleche2.gif') no-repeat center right;*/
}

.jdGallery a.open

{
left: 0;
top: 0;
width: 100%;
height: 100%;
}

.withArrows a.open

{
position: absolute;
top: 0;
left: 25%;
height: 99%;
width: 50%;
cursor: pointer;
z-index: 10;
background: none;
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

.withArrows a.open:hover

{
/*background: url('open.png') no-repeat center center;*/
}

* html .withArrows a.open:hover

{
/*background: url('open.gif') no-repeat center center;
filter:alpha(opacity=80);*/
}

	
/*input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover

{
border: 1px solid rgb(0, 223, 255);
background: rgb(228, 247, 250) none repeat scroll 0%;
color: rgb(0, 0, 0);
-moz-background-clip: initial;
-moz-background-origin: initial;
-moz-background-inline-policy: initial;
}*/